<%= form_for(@notice) do |f| %>
  <% if @notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% @notice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo, :class=>"span6" %>
  </div>
  <div class="controls">
    <%= f.label :resumen %>
    <%= f.text_area :resumen, :rows=>"5", :class=>"span6" %>
  </div>
  <div class="field">
    <label><%= f.label :descripcion %></label>  
    <%= f.cktext_area :descripcion, :toolbar => 'Full', :width => 800, :height => 500 %>    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
