<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @notice.titulo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @notice.descripcion %>
</p>


<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
