<% content_for :head_titulo do %>
  <h1>Preguntas</h1>
  <p class="lead">Inteligencia aritificial de preguntas.</p>
<% end %>    

      <!-- INTELIGENCIA ARTIFICIAL
      =================================================-->
      <section>
        <div class="page-header">
          <h1>Inteligencia A. <small> Ing Edgar Taya</small></h1>          
        </div>        
        <div class="well">
          <div class="row-fluid">
            <div class="span4">
              <%= image_tag "user_icon2.jpg" %>
            </div>
            <div class="span8">              
              <%= form_for(preguntas_path, :html=>{:class=>"form-search"}, :method => "get") do |f| %>
                <%= text_field_tag :search, params[:search], :class =>"input-large search-query" %>               
              <% end %>
              <h2>¿<%= @titulo %> ?</h2>
              <p class="lead"><%= @contenido %></p>              
            </div>
          </div>                    
        </div>
        <div class="well">
          <%= link_to raw('<i class="icon-home icon-white"></i> Home'), preguntas_path, :class=>"btn btn-primary"  %>
          <%= link_to raw('<i class="icon-lock"></i> Nueva'), new_pregunta_path, :class=> "btn" %>
          <%= link_to raw('<i class="icon-edit"></i> Editar'), "/preguntas/#{@idp}/edit", :class=>"btn" %>
          </div>
      </section>

    
 