<% content_for :head_titulo do %>
  <h1>Abogados RpR</h1>
  <p class="lead">Studio Juridico RpR Asociados.</p>
<% end %>


<!-- Documentos
=========================================== -->
<section>
  <div class="page-header">
    <h1>Documentos <small>Ultimos Agregados</small></h1>
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <th>#Id</th>
      <th>Nombre</th>
      <th>Accion</th>
    </thead>
    <% @documentos.each do |documento| %>
    <tr>
      <td><%= documento.id %></td>
      <td><%= documento.titulo[0,50] %></td>
      <td>
        <%= link_to raw("<i class='icon-eye-open'></i> Ver"), "/inicios/documentos", :class=>"btn" %>
        <%= link_to raw("<i class='icon-download-alt'></i> Descargar"), "/inicios/documentos", :class=>"btn" %>
      </td>
    </tr>
    <% end %>
  </table>
</section>

<!-- Noticias
================================================== -->
<section>
  <div class="page-header">
    <h1>Noticias <small>Ultimas agregadas</small></h1>
  </div>          
  <div class="row-fluid">           
    <div class="span6">                
      <h4>
        <%= image_tag "glyphicons_071_book.png" %>
        <%= link_to @notices[0]['titulo'], "/inicios" %>
      </h4>                                
      <p><%= @notices[0]['resumen'][0,130] %></p>
      
    </div>
    <div class="span6">
      <h4>
        <%= image_tag "glyphicons_071_book.png" %>
        <%= link_to @notices[1]['titulo'], "/inicios" %>
      </h4>
      <p><%= @notices[1]['resumen'][0,130] %></p>
      
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <h4>
        <%= image_tag "glyphicons_071_book.png" %>
        <%= link_to @notices[2]['titulo'], "/inicios" %>
      </h4>
      <p><%= @notices[2]['resumen'][0,130] %></p>
      
    </div>
    <div class="span6">
      <h4>
        <%= image_tag "glyphicons_071_book.png" %>
        <%= link_to @notices[3]['titulo'], "/inicios" %>
      </h4>
      <p><%= @notices[3]['resumen'][0,130] %></p>
      
    </div>            
  </div>
</section>


<!-- Galeria de Fotos 
===========================================-->
<section>
  <div class="page-header">
    <h1><a href="/inicios/fotos">Fotos</a> <small>Galeria</small></h1>
  </div>

  <div class="row-fluid">
      <ul class="thumbnails bootstrap-examples">
        <li class="span3">
          <a class="thumbnail" href="http://soundready.fm/" target="_blank">
            <img src="http://cdn.larepublica.pe/sites/default/files/imagecache/img_noticia_640x384/imagen/2012/08/29/imagen-imagenimagen13b.jpg" alt="SoundReady.fm">
          </a>
          <h5>Foto uno</h5>
          <p>Descripcion de la foto numero uno tomada el dia de hoy.</p>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://kippt.com/" target="_blank">
            <img src="http://2.bp.blogspot.com/-4Aa6YZeOSM0/TZVMGR8SfcI/AAAAAAAAAC4/zV8zXCCEL7Y/s1600/ccd1f6_2.jpg" alt="Kippt">
          </a>
          <h5>Foto uno</h5>
          <p>Descripcion de la foto numero uno tomada el dia de hoy.</p>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://www.fleetio.com/" target="_blank">
            <img src="http://4.bp.blogspot.com/-Thx_GQ3bKYo/TWFp6lbicxI/AAAAAAAAAB0/2F3QC4UE6jM/s1600/abogados01.jpg" alt="Fleetio">
          </a>
          <h5>Foto uno</h5>
          <p>Descripcion de la foto numero uno tomada el dia de hoy.</p>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://www.jshint.com/" target="_blank">
            <img src="http://www.100ideasparaemprender.com/home/wp-content/uploads/2012/01/abogado_ene12_300x300.jpg" alt="JS Hint">
          </a>
          <h5>Foto uno</h5>
          <p>Descripcion de la foto numero uno tomada el dia de hoy.</p>
        </li>
      </ul>     
  </div>  
</section>






