<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Studio Abogados RpR Asociados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <%= stylesheet_link_tag "bootstrap" %>    
    <%= stylesheet_link_tag "docs" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery_ujs" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">AbogadosRpR</a>
          <div class="nav-collapse collapse">
            <ul class="nav">              
              <li class="active"><a href="/inicios/noticias">Noticias</a></li>
              <li class=""><a href="/inicios/paginas">Paginas</a></li>
              <li class=""><a href="/inicios/documentos">Documentos</a></li>
              <li class=""><a href="/inicios/fotos">Fotos</a></li>                            
              <li class=""><a href="/inicios/contactos">Contacto</a></li>              
              <li class=""><a href="/preguntas">Preguntas</a></li>
            </ul>
            <ul class="nav pull-right">              
              <li class="active">
                <a target="blank" href="http://69.73.179.244:2095/?login_theme=cpanel" >
                  <i class="icon-envelope icon-white"></i> Correo
                </a>
              </li>
              <li class="active">
                <%= link_to raw("<i class='icon-lock icon-white'></i> Admin"), "/admin" %>
              </li>
            </ul>
          </div>          
        </div>
      </div>
    </div>

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <div class="row">
      <div class="span9">
        <%= yield :head_titulo %>
      </div>
      <div class="span3">
        <%= image_tag "rpr_asociados.png", :size => "140x140", :class => "pull-right" %>
      </div>
    </div>    
  </div>
</header>


	


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span8">
        <%= yield %>
      </div>
      <div class="span4">
        <%= render :partial => "shared/sidebar" %>
      </div>
    </div>

  </div><!-- end container -->

    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Todos los Derechos Reservados 2012</a></p>
        <p>Diseñado y desarrollado por Abraham Moises Linares</p>
      </div>
    </footer>

  </body>
</html>
